@import 'variaveis.scss';

.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  // background-color: red;
  font-weight: normal;
}



header {
  line-height: 1.5;
  max-height: 100vh;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }

  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}

* {
  font-family: $fontRegular;
  font-size: 14px;
}

html, body, #__next {
  height: 100%;
  margin: 0;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.oculto {
  display: none !important;
}

input {
  &::placeholder {
    /* chrome, opera, safari e firefox */
    color: $cinza2;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    /*ie 10-11*/
    color: $cinza2;
  }

  &::-ms-input-placeholder {
    color: $cinza2;
  }
}

.desktop {
  display: block;
  background-color: cyan;

  @media screen and (max-width: calc($desktopBreakpoint - 1px)) {
    display: none;
  }
}

.mobile {
  display: block;

  @media screen and (min-width: $desktopBreakpoint) {
    display: none;
  }
}

.mensagemValidacao {
  display: block;
  color: $vermelho;
  font-size: 90%;
  margin-top: -15px;
  margin-bottom: 15px;
}

.barraNavegacao {
  ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 10px 0px;

    li {
      list-style: none;
      cursor: pointer;
    }
  }
}

strong {
  font-family: $fontBold;
}

body {
  @media screen and (min-width: $desktopBreakpoint) {
    background-color: $cinza5;
    background-image: url('/imagens/imagemDeFundoDesktop.svg');
  }
}

.largura30pctDesktop {
  @media screen and (min-width: $desktopBreakpoint) {
    width: 30%;
    margin: auto;
  }
}

.linhaDivisoria {
  margin: 0;
  border: none;
  background-color: $cinza1;
  height: 1px;

  @media screen and (min-width: $desktopBreakpoint) {
    margin: 0 auto;
    width: 94%;
  }
}

// @import '../public/fonts/fonts.scss';
@import './paginaPublica.scss';
@import '../views/Cadastro/TelaCadastro.scss'
